<table class="table table-striped table-hover" >
    <caption>Tabla De Usuarios</caption>
    <thead>
        <tr>
            <th scope="col">Nombre Usuario</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Edad</th>
            <th scope="col">Dirección</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios" >
            <td>{{ usuario.name}}</td>
            <td>{{ usuario.fecha_nacimiento}}</td>
            <td>{{ usuario.edad}}</td>
            <td>{{ usuario.domicilio }},{{ usuario.colonia }}, {{ usuario.cp }}</td>

        </tr>
    </tbody>
</table>